ion-icon{
    font-size: 3rem;
}

header{
    display: flex;
    justify-content: center;
}

#tbl-members{
    th:first-child,
    tbody td:first-child{
        width: 75px;
        text-align: center;
    }

    th:nth-child(2),
    tbody td:nth-child(2){
        width: 250px;
    }

    th:last-child,
    tbody td:last-child{
        width: 150px;
        text-align: center;
    }
}